/* #region global */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Lato";
}

:root {
  --color-base: #e21515;
  --color-subbase: #141414;
  --color-text: #ffffff;
  --color-subtext: #999999;
  --color-black: #0f0f0f;
  --color-subblack: #1a1a1a;
  --color-border: #333333;
  --color-dark: #a11313;
  --color-gradient: linear-gradient(220deg, #e21515 -210%, #0f0f0f 60%);
  --no-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-subbase);
  color: var(--color-base);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: var(--no-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-base);
  border: 5px solid transparent;
  background-clip: content-box;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-dark);
}

#btn-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 3.125rem;
  height: 3.125rem;
  background-color: var(--color-subblack);
  border: none;
  color: var(--color-text);
  font-size: 1.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
    transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#btn-top:hover {
  transform: translateY(-4px);
  background-color: var(--color-border);
}

/* #endregion */

/* #region menu */
header {
  nav {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: backdrop-filter 0.5s ease-in-out;

    .menu {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;

      img {
        width: 100%;
        max-width: 170px;
      }

      .nav-bar {
        display: flex;
        gap: 2rem;
        background-color: var(--color-black);
        padding: 1.25rem 1.5rem;
        border-radius: 3rem;
        border: 3px solid var(--color-border);
        transform: translateX(-20px);

        li {
          display: flex;
          align-items: center;
          position: relative;

          a {
            transform: translateY(2px);
            color: var(--color-subtext);
            font-weight: bold;
            position: relative;
            font-size: 1rem;
            padding-bottom: 5px;
            transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: var(--color-text);
              border-radius: 50%;
              transform: scaleX(0);
              transition: transform 0.3s ease-in-out;
            }

            &:hover {
              color: var(--color-text);

              &::before {
                transform: scaleX(1);
              }
            }
          }

          &::before {
            content: "";
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% + 1.75rem);
            height: calc(100% + 1.25rem);
            background-color: var(--color-border);
            border-radius: 3rem;
            z-index: 1;
            opacity: 0;
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
            pointer-events: none;
          }

          &.active {
            a {
              color: var(--color-text) !important;
              z-index: 2;

              &::before {
                display: none;
              }
            }

            &::before {
              opacity: 0.3;
            }
          }
        }
      }

      .icons {
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2rem;

          & button {
            background-color: var(--no-color);
            border: none;
            cursor: pointer;

            & i {
              font-size: 2rem;
              color: var(--color-subtext);
              transition: color 0.3s ease-in-out;

              &:hover {
                color: var(--color-text);
              }
            }
          }
        }
      }
    }
  }

  .nav-blur {
    backdrop-filter: blur(10px);
    transition: backdrop-filter 0.5s ease-in-out;
    border-radius: 0 0 1rem 1rem;
  }
}

/* #endregion */

/* #region home */
#home {
  .home-container {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #141414),
      linear-gradient(to top, rgba(0, 0, 0, 0), #141414), url(../img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    & img {
      width: 100%;
      max-width: 320px;
      opacity: 0.8;
      transform: translateY(30px);
    }

    & h1 {
      margin-top: -1.5rem;
      color: var(--color-text);
      font-size: 2.5rem;
      margin-bottom: 1rem;
      font-weight: 800;

      & span {
        color: var(--color-base);
      }
    }

    & p {
      font-size: 1rem;
      color: var(--color-subtext);
      line-height: 1.5;
      margin-bottom: 2.5rem;
      padding: 0 22rem;
      font-weight: 700;
    }

    & .button-play {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.5rem;

      a {
        color: var(--color-text);
        background-color: var(--color-base);
        font-weight: bold;
        font-size: 1rem;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 0.5rem;
        padding: 1rem 1.25rem;
        gap: 1rem;
        z-index: 1;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: var(--color-dark);
        }
      }

      & i {
        font-size: 1.25rem;
        color: var(--color-text);
      }
    }

    & .down-arrow {
      display: flex;
      justify-content: center;
      align-items: center;

      & a {
        & #arrow-animation {
          transform: rotate(90deg);
          width: 2rem;
          height: 2rem;

          & path {
            stroke: var(--color-base);
            fill: var(--color-base);
          }
        }
      }
    }
  }
}

/* #endregion */

/* #region movie */
#movie {
  .movie-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-subbase);
    padding: 9rem 9rem 0 9rem;

    & h1 {
      color: var(--color-text);
      font-size: 2.25rem;
      margin-bottom: 1rem;
      font-weight: 800;
    }

    & p {
      font-size: 1rem;
      color: var(--color-subtext);
      margin-bottom: 3rem;
      font-weight: 700;
    }

    & .movie-card {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .card-container {
        background-color: var(--color-subblack);
        border: 1px solid var(--color-border);
        border-radius: 0.75rem;
        padding: 1.75rem;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

        & .image-wrapper {
          position: relative;
        }

        & .image-wrapper img {
          position: relative;
          margin-bottom: 0.75rem;
          z-index: 1;
          transition: opacity 0.3s ease-in-out;
        }

        & .image-wrapper::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #1a1a1a);
          z-index: 2;
        }

        & h2 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: var(--color-text);
          font-size: 1rem;
        }

        & .arrow-animations {
          width: 2rem;
          height: 2rem;
          padding: 0.5rem;
          border-radius: 0.5rem;
          background-color: var(--color-border);

          & path {
            stroke: var(--color-text);
            fill: var(--color-text);
          }
        }

        &:hover {
          transform: scale(1.04);
          box-shadow: 0 8px 25px var(--color-black);
        }
      }

      &:hover .card-container:not(:hover) {
        opacity: 0.5;
      }
    }
  }
}

/* #endregion */

/* #region serie */
#serie {
  & .serie-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-subbase);
    padding: 9rem 9rem 0 9rem;

    & h1 {
      color: var(--color-text);
      font-size: 2.25rem;
      margin-bottom: 1rem;
      font-weight: 800;
    }

    & p {
      font-size: 1rem;
      color: var(--color-subtext);
      margin-bottom: 3rem;
      font-weight: 700;
    }

    & .serie-card {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .card-container {
        background-color: var(--color-subblack);
        border: 1px solid var(--color-border);
        border-radius: 0.75rem;
        padding: 1.75rem;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

        & .image-wrapper {
          position: relative;
        }

        & .image-wrapper img {
          position: relative;
          margin-bottom: 0.75rem;
          z-index: 1;
          transition: opacity 0.3s ease-in-out;
        }

        & .image-wrapper::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #1a1a1a);
          z-index: 2;
        }

        & h2 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: var(--color-text);
          font-size: 1rem;
        }

        & .arrow-animations {
          width: 2rem;
          height: 2rem;
          padding: 0.5rem;
          border-radius: 0.5rem;
          background-color: var(--color-border);

          & path {
            stroke: var(--color-text);
            fill: var(--color-text);
          }
        }

        &:hover {
          transform: scale(1.04);
          box-shadow: 0 8px 25px var(--color-black);
        }
      }

      &:hover .card-container:not(:hover) {
        opacity: 0.5;
      }
    }
  }
}

/* #endregion */

/* #region platform */
#platform {
  & .platform-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: var(--color-subbase);
    padding: 9rem 9rem 0 9rem;

    & h1 {
      color: var(--color-text);
      font-size: 2.25rem;
      margin-bottom: 1rem;
      font-weight: 800;
    }

    & p {
      font-size: 1rem;
      color: var(--color-subtext);
      font-weight: 700;
    }

    & .platform-inner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2.25rem;
      margin-top: 3rem;

      & .card-platform {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: var(--color-gradient);
        border-radius: 0.75rem;
        padding: 3rem;
        border: 1px solid var(--color-border);

        & .icon-title {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
          gap: 1rem;

          & i {
            font-size: 2rem;
            background-color: var(--color-subblack);
            padding: 0.75rem;
            border-radius: 0.5rem;
            border: 1px solid var(--color-border);
          }

          & h2 {
            font-size: 1.5rem;
            color: var(--color-text);
          }
        }

        & p {
          font-size: 1rem;
          color: var(--color-subtext);
          line-height: 1.5;
          font-weight: 700;
        }
      }
    }
  }

  .faq-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-subbase);
    padding: 9rem 9rem 0 9rem;

    h1 {
      color: var(--color-text);
      font-size: 2.25rem;
      margin-bottom: 1rem;
      font-weight: 900;
    }

    p {
      font-size: 1rem;
      color: var(--color-subtext);
      font-weight: bold;
      line-height: 1.5;
    }

    & .faq-inner {
      margin-top: 3rem;
      display: flex;
      gap: 5rem;
      align-items: flex-start;

      .faq-left {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex: 1;
        flex-direction: column;

        .faq-item {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(
              to right,
              #141414 0%,
              #e21515 50%,
              #141414 100%
            );
          }

          &.active {
            .faq-response {
              max-height: auto;
              margin-bottom: 2rem;
            }
          }

          .faq-question {
            background-color: var(--no-color);
            border: none;
            border-radius: 0.75rem;
            color: var(--color-text);
            width: 100%;
            padding: 2.5rem 0;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
              font-size: 1.25rem;

              & span {
                background-color: var(--color-subblack);
                padding: 0.75rem 0.75rem;
                border-radius: 0.75rem;
                margin-right: 1rem;
              }
            }

            i {
              font-size: 1.25rem;
              color: var(--color-text);
              transition: transform 0.3s ease-in-out;
            }
          }

          .faq-response {
            max-height: 0;
            overflow: hidden;
            background-color: var(--no-color);
            transition: max-height 0.3s ease-in-out;

            p {
              font-size: 1rem;
              color: var(--color-subtext);
              font-weight: bold;
              line-height: 1.5;
            }
          }
        }
      }

      .faq-right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex: 1;
        flex-direction: column;

        .faq-item {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(
              to right,
              #141414 0%,
              #e21515 50%,
              #141414 100%
            );
          }

          &.active {
            .faq-response {
              max-height: auto;
              margin-bottom: 2rem;
            }
          }

          .faq-question {
            background-color: var(--no-color);
            border: none;
            border-radius: 0.75rem;
            color: var(--color-text);
            width: 100%;
            padding: 2.5rem 0;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
              font-size: 1.25rem;

              & span {
                background-color: var(--color-subblack);
                padding: 0.75rem 0.75rem;
                border-radius: 0.75rem;
                margin-right: 1rem;
              }
            }

            i {
              font-size: 1.25rem;
              color: var(--color-text);
              transition: transform 0.3s ease-in-out;
            }
          }

          .faq-response {
            max-height: 0;
            overflow: hidden;
            background-color: var(--no-color);
            text-align: start;
            width: 100%;
            transition: max-height 0.3s ease-in-out;

            p {
              font-size: 1rem;
              color: var(--color-subtext);
              font-weight: bold;
              line-height: 1.5;
            }
          }
        }
      }
    }
  }
}

/* #endregion */

/* #region subscribe */
#subscribe {
  & .subscribe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-subbase);
    padding: 8rem 9rem 9rem 9rem;

    & h1 {
      color: var(--color-text);
      font-size: 2.25rem;
      margin-bottom: 1rem;
      font-weight: 800;
    }

    & p {
      font-size: 1rem;
      color: var(--color-subtext);
      font-weight: 700;
    }

    & .subscribe-inner {
      margin-top: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .card-subscribe {
        background-color: var(--color-subblack);
        border: 1px solid var(--color-border);
        border-radius: 0.75rem;
        padding: 2rem;
        width: 32rem;
        height: auto;
        margin-bottom: 9rem;
        transition: box-shadow 0.3s ease-in-out, background 0.3s ease-in-out;

        & h1 {
          color: var(--color-text);
          margin-bottom: 1rem;
          font-size: 1.75rem;
          font-weight: 800;
        }

        & .check-text {
          display: flex;
          align-items: center;
          margin-bottom: 0.75rem;
          gap: 0.5rem;

          & i {
            font-size: 1.5rem;
            color: var(--color-subtext);
          }

          & h3 {
            color: var(--color-subtext);
            font-size: 1rem;
          }
        }

        & h2 {
          margin-top: 1.5rem;
          font-size: 1.5rem;
          color: var(--color-text);

          & span {
            font-size: 1rem;
            color: var(--color-subtext);
          }
        }

        & .button-container {
          display: flex;
          gap: 0.75rem;
          justify-content: center;
          margin-top: 2rem;

          & a {
            color: var(--color-text);
            font-weight: bold;
            font-size: 1rem;
            display: flex;
            border-radius: 0.5rem;
            padding: 1rem;
            width: 100%;
            transition: background-color 0.3s ease-in-out;
            justify-content: center;
            align-items: center;

            &.red-button {
              background-color: var(--color-base);

              &:hover {
                background-color: var(--color-dark);
              }
            }

            &.dark-button {
              background-color: var(--color-subbase);
              border: 1px solid var(--color-border);

              &:hover {
                background-color: var(--color-border);
              }
            }
          }
        }

        &:hover {
          background: var(--color-gradient);
          box-shadow: 0 8px 25px var(--color-black);
        }
      }
    }

    & .sub-container {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #141414),
        linear-gradient(to top, rgba(0, 0, 0, 0), #141414),
        url(../img/fundo-card.png);
      background-position: center;
      background-size: cover;
      height: 350px;
      width: 100%;
      border-radius: 0.5rem;
      align-items: center;
      display: flex;
      border: 1px solid var(--color-border);
      justify-content: space-around;

      & h1 {
        font-size: 3rem;
        color: var(--color-text);
        font-weight: 800;

        & span {
          color: var(--color-base);
        }
      }

      & p {
        font-size: 1rem;
        color: var(--color-subtext);
        font-weight: 700;
      }

      & a {
        color: var(--color-text);
        background-color: var(--color-base);
        font-weight: bold;
        font-size: 1rem;
        display: flex;
        border-radius: 0.5rem;
        padding: 1rem 1.25rem;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: var(--color-dark);
        }
      }
    }
  }
}

/*#endregion*/

/* #region footer */
footer {
  & .footer-container {
    background-color: var(--color-black);
    padding: 5rem 14rem 0 14rem;

    & .footer-top {
      display: flex;
      justify-content: center;
      gap: 7rem;

      & .footer-inner {
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;

        & h3 {
          font-size: 1rem;
          margin-bottom: 1.5rem;
          color: var(--color-text);
        }

        & li {
          margin-bottom: 0.75rem;

          & a {
            color: var(--color-subtext);
            transition: color 0.3s ease-in-out;
            font-weight: bold;

            &:hover {
              color: var(--color-text);
            }
          }
        }

        & .icon-contact {
          display: flex;
          gap: 0.5rem;
          margin-top: 0.75rem;

          & a {
            font-size: 1.5rem;
            padding: 0.75rem;
            background-color: var(--color-subblack);
            color: var(--color-subtext);
            border-radius: 0.5rem;
            transition: color 0.3s ease-in-out,
              background-color 0.3s ease-in-out;

            &:hover {
              color: var(--color-subblack);
              background-color: var(--color-subtext);
            }
          }
        }
      }
    }

    & .footer-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid var(--color-subblack);
      height: 8rem;

      & h2 {
        color: var(--color-subtext);
        font-size: 1rem;
      }
    }
  }
}

/* #endregion */

/* #region plans */
#plans {
  .plans-container {
    align-items: center;
    justify-content: center;
    background-color: var(--color-subbase);
    display: flex;
    flex-direction: column;

    & .reasons-card {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      margin-top: 12rem;
      margin-bottom: 7rem;

      & .card-reasons {
        background: var(--color-gradient);
        border: 1px solid var(--color-border);
        border-radius: 0.75rem;
        width: 21rem;
        height: 20rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;

        & h2 {
          color: var(--color-text);
          font-size: 2rem;
          margin-bottom: 1.5rem;
          padding: 0 1rem;
        }

        & p {
          color: var(--color-subtext);
          font-weight: 700;
          padding: 0 2rem;
          font-size: 1rem;
          line-height: 1.5;
          margin-bottom: 4rem;
        }

        & i {
          color: var(--color-gradient);
          font-size: 3.5rem;
          position: absolute;
          bottom: 1.5rem;
          right: 1.5rem;
        }
      }
    }

    & .plans-inner {
      & .text-container {
        text-align: center;

        & h1 {
          color: var(--color-text);
          font-size: 2.25rem;
          margin-bottom: 1rem;
          font-weight: 800;
        }

        & p {
          font-size: 1rem;
          color: var(--color-subtext);
          margin-bottom: 3rem;
          font-weight: 700;
        }
      }

      & .plans-card {
        display: flex;
        gap: 3rem;
        align-items: center;
        justify-content: center;
        padding-bottom: 9rem;

        & .card-plans {
          background-color: var(--color-subblack);
          border: 1px solid var(--color-border);
          border-radius: 0.75rem;
          display: flex;
          flex-direction: column;
          padding: 1.5rem 2rem;
          width: 24rem;
          height: auto;
          transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

          & img {
            width: 140px;
            transform: translateX(-2px);
          }

          & h1 {
            margin-top: 1rem;
            color: var(--color-base);
            font-size: 2rem;
            margin-bottom: 0.5rem;
            font-weight: 800;
          }

          & h2 {
            color: var(--color-text);
            font-size: 1.25rem;
            margin-bottom: 0.5rem;
          }

          & h3 {
            color: var(--color-subtext);
            border-bottom: 2px solid var(--color-border);
            font-size: 1rem;
            padding-bottom: 1.5rem;
            margin-bottom: 2rem;
          }

          & .check-text {
            display: flex;
            margin-bottom: 0.75rem;
            align-items: center;
            gap: 0.5rem;

            & i {
              font-size: 1.5rem;
              color: var(--color-text);
            }

            & p {
              font-size: 1rem;
              font-weight: 700;
              color: var(--color-text);
            }
          }

          & .button-container {
            margin-top: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1.5rem;

            & a {
              color: var(--color-text);
              font-weight: bold;
              font-size: 1rem;
              display: flex;
              border-radius: 0.5rem;
              width: 100%;
              padding: 1rem;
              transition: background-color 0.3s ease-in-out;
              justify-content: center;
              align-items: center;
              background-color: var(--color-base);

              &:hover {
                background-color: var(--color-dark);
              }
            }
          }

          & p {
            color: var(--color-subtext);
            font-size: 0.75rem;
            font-weight: 700;
            text-align: center;
          }

          &:hover {
            background: var(--color-gradient);
            box-shadow: 0 8px 25px var(--color-black);
          }
        }
      }
    }
  }
}

/* #endregion */
